:root {
	--red: #317b7e;
	--white: #f1faee;
	--light-blue: #a8dadc;
	--blue: #6598f6;
	/* --dark-blue: #1d3557; */
	--dark-blue: #1e2586;
}

body {
	font-family: "Itim", cursive;
}

.footer {
	padding-left: 2rem;
}
